#top_menu h5 {
  font-family: 'OpenSans-Bold';
  float: left;
  padding: 10px 10px;
  font-size: 14px;
  margin: 0;
}

#top_menu {
  font-family: 'Proxima Nova Alt Rg';
  color: #449CBB;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}

.h6, h6 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  color: #3D3322;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  /*font-weight: 600;*/
}

.btn {
  font-weight: bold;
}

.hide {
  display: none;
}

dl, ol, ul {
  color: #404040;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}

.menu {
  cursor: pointer;
}

#source {
  position: absolute;
  width: 50%;
  height: 56%;
  right: 15%;
  bottom: -47%;
  border-radius: 50%;
}

s {
  position: absolute;
  width: 47%;
  height: 50%;
  right: -17%;
  top: -36%;
  border-radius: 50%;
}

#execute {
  position: absolute;
  width: 42%;
  height: 52%;
  left: -47%;
  top: -48%;
  border-radius: 50%;
}

@media (max-width: 991px) {
  #source_info {
    display: none;
  }
}

#source_info {
  /*transform: scale(0);*/
  transition: .5s ease;
}

#source_page:hover > #source_info {
  transform: scale(1);
}

#enale_page:hover > #enable_info {
  transform: scale(1);
}

@media (max-width: 991px) {
  #enable_info {
    display: none;
  }
}

#enable_info {
  /*transform: scale(0);*/
  transition: .5s ease;
}

#execute_page:hover > #execute_info {
  transform: scale(1);
  transition: .5s ease;
}

@media (max-width: 991px) {
  #execute_info {
    display: none;
  }
}

#execute_info {
  /*transform: scale(0);*/
}

@media (max-width: 991px) {
  #top_menu {
    display: none;
    text-align: center;
    padding: 15px 0;
  }
}

@media (min-width: 992px) {
  #top_menu {
    padding: 0;
  }
}

@media (min-width: 992px) {
  #top_menu_bar {
    display: none;
  }
}

@media (min-width: 992px) {
  #footer {
    margin-bottom: 3%;
  }
}

.hide {
  display: none;
}

@media (min-width: 992px) {
  #esra_info {
    display: none;
  }
}

@media (max-width: 800px) {
  #top_menu h5 {
    float: none;
  }
}

@media (min-width: 992px) {
  #top_menu h5 {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  #top_menu h5 {
    padding: 0 24px;
  }
}

@media (min-width: 991px) {
  #service_info p {
    text-align: justify;
  }
}

@media (max-width: 992px) {
  #service_info p {
    text-align: center;
  }
}

@media (min-width: 992px) {
  #logo {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #logo {
    text-align: left;
  }
}

@media (min-width: 992px) {
  #services_info2 h5 {
    text-align: left;
  }
}

@media (max-width: 991px) {
  #services_info2 h5 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #footer {
    margin: 0;
  }
}

#enbale {
  position: absolute;
  width: 50%;
  height: 42%;
  top: -2%;
  left: 63%;
  border-radius: 50%;
}

.close_service:hover {
  color: #ccc;
  transform: rotate(360deg);
  background: 0;
}

.close_service {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 7px;
  float: right;
  background-color: #ccc;
  border-radius: 10px;
  margin: 10px;
  width: 40px;
  text-align: center;
  color: white;
  transition: .2s ease;
  cursor: pointer;
}

.effect:hover {
  transform: scale(1.06);
  border-right: 1px solid rgba(0,0,0,0.49);
  border-left: 1px solid #0000007d;
  border-radius: 20px;
}

.effect {
  transition: 0.5s ease;
  cursor: pointer;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

@media (max-width: 992px) {
  #execute {
    display: none;
  }
}

@media (max-width: 992px) {
  #enbale {
    display: none;
  }
}

@media (max-width: 992px) {
  #source {
    display: none;
  }
}

@media (min-width: 1200px) {
  #index {
    width: 56%;
  }
}

@media (min-width: 992px) {
  #index {
    width: 85%;
  }
}

@media (max-width: 786px) {
  #index {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #strategic img {
    width: 25%;
  }
}

@media (max-width: 991px) {
  #strategic img {
    width: 25%;
  }
}

@media (min-width: 991px) {
  #model-4 {
    margin-top: 26%;
  }
}

@media (min-width: 991px) {
  #model-3 {
    margin-top: 5%;
  }
}

@media (min-width: 991px) {
  #model-2 {
    margin-top: 17%;
  }
}

@media (min-width: 991px) {
  #esta_logo {
    width: 60%;
    margin-right: -35%;
  }
}

@media (min-width: 768px) {
  #home_service {
    margin-bottom: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 992px) {
  #home_service {
    margin-bottom: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 580px) {
  #home_service {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .value_data {
    padding-left: 7%;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  #eait_img {
    background-image: url(../../assets/img/home-header.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0 0 4% 0;
  }
}

@media (min-width: 992px) {
  #home_eait {
    padding: 80px 40px 8% 4%;
  }
}

@media (max-width: 991px) {
  #home_eait {
    padding: 8% 11% 8% 11%;
  }
}

@media (min-width: 768px) {
  #home_eait {
    padding: 8% 1% 8% 1%;
  }
}

@media (min-width: 992px) {
  #home_eait_img {
    display: none;
  }
}

@media (max-width: 991px) {
  #eait_group {
    margin: 0 7%;
  }
}

@media (min-width: 992px) {
  #eait_group {
    margin-left: 4%;
  }
}

@media (max-width: 991px) {
  #eait_group_data {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  #eait_group_data {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #eait_indu {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #eait_indu {
    margin: 0;
  }
}

@media (max-width: 991px) {
  #service_info {
    margin: 0;
    margin-top: 6%;
  }
}

@media (min-width: 992px) {
  #service_info {
    margin: 0;
    margin-top: 6%;
  }
}

@media (min-width: 992px) {
  #eait_head {
    text-align: center;
  }
}

@media (min-width: 992px) {
  #eait_about_img {
    padding: 0;
  }
}

@media (max-width: 767px) {
  #transform_data {
    max-height: 60vh;
    overflow-y: auto;
  }
}

@media (min-width: 992px) {
  .right_line {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0;
    border-right: 2px solid #4298B6;
    width: 0;
    height: 19vh;
    display: none;
  }
}

@media (max-width: 991px) {
  .right_line {
    display: none;
  }
}

@media (min-width: 1200px) {
  .right_line {
    position: absolute;
    top: -10px;
    bottom: 0;
    right: 0;
    border-right: 2px solid #4298B6;
    width: 0;
    height: 17vh;
    display: none;
  }
}

@media (min-width: 360px) {
  #eait_group {
    margin-left: 1%;
  }
}

@media (max-width: 991px) {
  #eait_group2 {
    padding: 0 6% 0 10%;
  }
}

@media (min-width: 992px) {
  #footer h5 {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  #footer h5 {
    font-size: 16px;
  }
}

#contact_page {
  margin: 6% 0 10% 0;
}

#header {
  margin: 4% 0;
}

@media (min-width: 1440px) {
  #header {
    max-width: 1440px;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  #eait_img {
    max-width: 1440px;
    margin: auto;
  }
}

#footer {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 2%;
}

@media (min-width: 1440px) {
  #strategic img {
    max-width: 1440px;
    width: 25%;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  #strategic {
    max-width: 1440px;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  #eait_about {
    max-width: 1440px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  #eait_about_page {
    margin: 0;
  }
}

@media (max-width: 991px) {
  #eait_about_page {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #eait_about_page {
    max-width: 1440px;
    margin: auto;
    margin-top: 2%;
  }
}

@media (min-width: 1440px) {
  #eait_home_model {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #eait_home_model {
    margin: 0 4% 0 4%;
  }
}

@media (min-width: 992px) {
  #eait_home_model {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

@media (min-width: 1440px) {
  #contact_page {
    max-width: 1440px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

@media (max-width: 991px) {
  #eait_group_mem {
    margin: 0;
    margin-top: 7%;
  }
}

@media (min-width: 992px) {
  #eait_group_mem {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #eait_group_mem {
    max-width: 1440px;
    margin: auto;
    margin-top: 3%;
  }
}

@media (max-width: 991px) {
  #eait_info {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #eait_info {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #eait_info {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #features {
    margin: 4% 5% 0 5%;
  }
}

@media (min-width: 992px) {
  #features {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 1440px) {
  #features {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #eait_value_info {
    margin: 2% 0 2% 0;
  }
}

@media (min-width: 992px) {
  #eait_value_info {
    margin: 2% 0 2% 0;
  }
}

@media (min-width: 1440px) {
  #eait_value_info {
    max-width: 1440px;
    margin: auto;
    margin-top: 2%;
  }
}

@media (min-width: 1440px) {
  #eait_data_service {
    max-width: 1440px;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  #eait_indu {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #eait_service {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #eait_service {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #services_info2 {
    max-width: 1440px;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  #service_info {
    max-width: 1440px;
    margin: auto;
    margin-top: 3%;
  }
}

@media (max-width: 991px) {
  #model_para {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #model_para {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #model_para {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #eait_model_data {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #eait_model_data {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #eait_model_data {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #eait_partner {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #eait_partner {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  #eait_partner {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #eait_img {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .service_desc {
    padding: 0 0 0 5%;
  }
}

